.form__btn {
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  background:  $maincolor;
  color: #FFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 5px  $maincolor;
  border: dashed 1px #FFF;
}

.form__btn:hover {
  border: dotted 1px #FFF;
}