.header{
  height: 80px;
  width: 100%;
  padding: 0 150px;
  color: $maincolor;
  display: flex;
  justify-content: space-between;
  &__title{
    font-size: 30px;
    line-height: 60px;
    &--text{
      text-decoration: none;
      color: $maincolor;
      margin-left:15px;
    }
  }
  &__right{
    &--btn{
      text-decoration: none;
      line-height: 56px;
      color: $maincolor;
      margin-left:15px;
    }
  }
}